<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>JspServlets-1</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Servlet_1</servlet-name>
		<servlet-class>Servlet_1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet_1</servlet-name>
		<url-pattern>/Servlet_1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SessionTrack</servlet-name>
		<servlet-class>SessionTrack</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SessionTrack</servlet-name>
		<url-pattern>/SessionTrack</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DatabaseAccess</servlet-name>
		<servlet-class>DatabaseAccess</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DatabaseAccess</servlet-name>
		<url-pattern>/DatabaseAccess</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>
	<context-param>
		<description>Location to store uploaded file</description>
		<param-name>file-upload</param-name>
		<param-value>
         C:\apache-tomcat-8.5.20\webapps\data\
      </param-value>
	</context-param>
</web-app>